<%- include('../partials/header') %>
<div class="container mt-4">
    <h2><%= pageTitle %></h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <form action="/admin/grupos/editar/<%= grupo.id %>" method="POST">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre del Grupo</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= grupo.nombre %>" required>
                </div>
                <a href="/admin/gestion-componentes" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>